# Multi-platform
*.vpc_cache
*.vpc_crc
*.sentinel
.vscode
.cache

# Windows Stuff
*.vcxproj
*.sln
*.filters
.vs
enc_temp_folder/
*.enc
*.suo
*.user
*.FileListAbsolute.txt
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
*.sdf
*.opensdf
*.idb
*.vcxproj.filters
*.pdb
*.recipe
*.iobj
*.ipdb
*.res
*.aps
UpgradeLog.htm
generated_code_*
*.dll
*.exe
*.lib
*.ixx.ifc.dt.module.json.command
*.ixx.ifc.dt.module.json
*.ixx.ifc.dt.d.json


# Linux Stuff
*.mak
*.o
*.a
*.P
*.map
*.so
*.so.dbg
manifest.txt
obj*/

# Mac Stuff
*.xcodeproj/

